{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}
    <section class="container add_category">
        <h1>New program</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input id="submit" type="submit" value="add program">
        {{ form_end(form) }}
    </section>
{% endblock %}
