body {
  background-color: lightgray;
}

.container {
  width: 500px;
  margin: 50px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actors_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.add_category {

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 200px;

    label {
      margin-right: 10px;
    }

    input {
      border-radius: 3px;
    }
  }
}

.alert-success {
  background-color: lightgreen;
  color: darkgreen;
  text-align: center;
}

.categories-list {

  ul {
    padding-inline-start: 0;
    list-style-type: none;
  }
}

.programs_container {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  margin: 0 auto;
  justify-content: space-around;

  > article {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      text-align: center;
    }

    img {
      width: 100%;
      height: auto;
    }

    p {
      color: #777777;
    }
  }
}

.program_container {
  width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 100%;
    height: auto;
  }

  p {
    color: #777777;
  }
}
